.event-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .event-div{
        padding: 1em;
        border: gray 1px solid;
        border-radius: 1em;
        margin: 1em auto;
        }
        .event-div-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .event-creator{
            font-weight: 500;
            font-size: 1.3em;
        }
        .event-creator-city{
            font-size: 0.8em;
            margin-left: 5px;
            color: #444;
        }
        .event-restaurant{
            padding: 0.7em 0;
            text-align: center;
            font-size: 1.6em;
        }

#toastmaster{
    position: fixed; 
    top: 50px; 
    right: 50px; 
    height: 200px;
    overflow-y: scroll;
}

div.toast{
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
}

.attendance-list{
    list-style: none;
}

#colBtn #colBtnHide{display:inline}
#colBtn:not(.collapsed)  #colBtnShow{display:none}
#colBtn.collapsed #colBtnHide{display:none}