@keyframes example {
    
    from {left:0px;}
    to {left:440px;}
}

#Userinfo {animation-timing-function: ease;}

#Userinfo{
    position: relative;
    left: 444px;
    animation: example 1.1s;
    animation-fill-mode: forwards;
}

#login{
    position: relative; 
    left: 68px;
}

#city{
    position: relative;
     left: 55px;
}

#description{
    position: relative ; 
    left: 60px;
}

#firstname{
    position: relative;
    left: 15px;
}

#lastname{
    position: relative;
    left: 15px;
}

#password{
    position: relative;
    left: 15px ;
}

#Updatebutton{

background-color: rgb(111, 202, 238);
position: relative; 
left: 55px;
font-size: 18px;
border-radius: 9px;
color: black;

}

#Updatebutton:hover{
    cursor:pointer;
    background-color: rgb(169, 222, 243);
    
}

#followersbutton{
    background-color: rgb(111, 202, 238);
    font-size: 18px;
    border-radius: 9px;

}

#followingbutton{
    background-color: rgb(111, 202, 238);
    font-size: 18px;
    border-radius: 9px;
}

#followersbutton:hover{
    cursor:pointer;
    background-color: rgb(169, 222, 243);
   
}

#followingbutton:hover{
    cursor:pointer;
    background-color: rgb(169, 222, 243);
}

#ChatButton{
    background-color: rgb(111, 202, 238);
    font-size: large;
    border-radius: 9px;
    position: relative;
    left: 550px;
    top: 20px;
    color: black;
}

#ChatButton:hover{
    cursor:pointer;
    background-color: rgb(169, 222, 243);
}


.buttons{
    background-color: rgb(111, 202, 238);
    font-size: large;
    border-radius: 9px;
}

.buttons:hover{
    cursor:pointer;
    background-color: rgb(169, 222, 243);
}



#followform{
    animation: fading .5s ease-in;
}
@keyframes fading{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


