<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header.ejs', {pageTitle: '404 Not Found'}) %>
</head>

<body>

    <%- include ('../partials/nav.ejs') %>

    <h1>We could not render the <%= path %>  page at this time :(</h1>
    
</body>
</html>