<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/feed.css" />
</head>

<body>

    <%- include ('../partials/nav.ejs', {path: path}) %>
    <h2>Upcoming Events</h1>
    <%- include ('../partials/eventfeed.ejs', {events: events}) %>

</body>
</html>