<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
</head>

<body>

    <%- include ('../partials/nav.ejs', {path: path}) %>

    <%- incldue ('../partials/eventfeed.ejs', {events: events}) %> 

</body>
</html>