<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/Mainpage.css" />
  </head>

  
  <body style="border: solid black; padding-bottom: 300px; ">
    <div id="topsign">
      Grababite
    </div>
    <ul>
      <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
      <%=errors.msg %> <%});} %>
    </ul>
    <ul>
      <% if (messages.error) { %>
      <li style="color: red;"><%= messages.error %></li>
      <% } %>
    </ul>
    <ul>
      <% if (messages.msg) { %>
      <li style="color: red;"><%= messages.msg%></li>
      <% } %>
    </ul>
    <ul>
       <% if (messages==="THE USERNAME OR PASSWORD IS INCORRECT") { %>
      <li style="color: red;"><%= messages%></li>
      <% } %>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
  </body>
  <body style="border: solid black; padding-bottom: 300px;">
    <div id="userloginform">
      
      <h3 style="font-family: Arial, Helvetica, sans-serif; font-size: 25px;">User Login</h3>
      
      <form class="" action="/login" method="post">
        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;"> Username:</span>
        <input
          style="border: solid lightgrey; font-size: 14px;"
          type="text"
          id="username"
          name="username"
          maxlength="12"
          required
        /><br /> <br>
        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">Password: </span
        ><input style="position: relative; left: 4px; border: solid lightgrey; font-size: 14px; "
          type="password"
          id="password"
          name="password"
          maxlength="12"
          required
        /><br />
        <input name="utype" value="USER" style="visibility: hidden;" /><br />
        <input class="buttons" type="submit" value="Login" />
      </form>
      <br>
      
      <h3 style="font-family: Arial, Helvetica, sans-serif;">Dont have an Account, Register</h3>
      <form action="GotoUsrReg" method="GET">
        <input class="buttons" type="submit" value="Create USER Profile" />
      </form>
    </div>
  </body>
  
  <h3 id="restaurantownerlogin">Are you a Restaurant Owner?</h3>
  <a href="/restaurantlogin"> 
    
  <button id="restaurantloginbutton">
    Login as Restaurant Owner
  </button>
</a> 

</html>
