<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>USER REGISTERATION</title>
  </head>
  <h1 align="center">REGISTER</h1>
  <ul>
    <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
    <%=error.msg %> <%});} %>
  </ul>
  <body>
    <form class="" action="/reg" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        required
      /><br /><br />
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required /><br /><br />
      <label for="city">City:</label>
      <input type="text" id="city" name="city" required /><br /><br />
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" required /><br /><br />
      <input type="submit" value="ADD" />
    </form>
  </body>
</html>
