<!DOCTYPE html>
<html>
<head>
  
</head>

<body>



<div class="container">


    <% rows.forEach(function(r) { %>
       <h2>Welcome to <%=r.name%> </h2>
       <p>Located in <%=r.city%></p>
       <p>Restaurant Type <%=r.type%></p>
    <% }); %>


</div>

</body>
</html>
