<!DOCTYPE html>
<html>
<head>
 
</head>

<body style="border: solid black; padding-bottom: 300px;">

    <div style="font-size: 30px; background-color: black; color: white; padding-top: 13px ; padding-left: 25px; padding-bottom: 13px; font-weight:bold">
        Grababite
      </div>


<h3 style="color: red; position: relative; left: 25px">Id has been taken, Please select another ID</h3>
<form action="BacktoSignupRes" method="GET">
    <input type="submit" id="cbutton" value="Back to restaurant Signup" style="border: solid black; background-color: lightgrey; position: relative; left:110px; font-size: 15px;">
</form>



<style media="screen">
#cbutton:hover{
    cursor: pointer;
  
  }
  </style>


</body>
</html>
